.main{
	margin:2% 0;
}
.wrap{
	width:80%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}
.clear{clear:both;}
.headertop{
	height: 55px;
    background: #85ceef;
    margin-top: -47px;
}
.logo > a:hover{
	text-decoration: none;
}
/*menu*/
.menu{
    font-size: 20px;
    background: #fbfbfb;
    height: 60px;
    width: auto;
    text-align: center;
    padding-top: 15px;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 0px 1px 10px -2px;
}
p.menu:hover{
    text-decoration: none;
}
/*end menu*/
.text1{
	font-size: 20px;
	font-weight: bold;
	text-align: center;	
	padding-top: 105px; 
}
.banner1 img{
	height: 268px;
	/*width: 733px;
    margin-left: -29px;*/
}
.well{
	/*width: 734px;
    margin-left: -30px;*/
    height: 470px;
    border: none;
    border-radius: 0;
}
.banner1 ,.well{
	margin-left:-28px;
}
.search {
	background:#fff;
	border: 1px solid #ddd;
	position: relative;
	margin:6px 20px 0 0;
	height: 55px;
}
.search input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:18px;
	color:#777;
	padding:10px;
	margin-top: 5px;
}
.search button{
	border: none;
    outline: none;
    cursor: pointer;
    background: url(../images/search.png) no-repeat 0px 3px;
    width: 30px;
    height: 25px;
    margin-top: 12px;
    float: right;
}
.hotline{
	margin-top: 27px;
}
.container-fluid{
	background: #85ceef;
}

.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover{
	background: #85ceef !important;
}
.navbar-inverse .navbar-toggle{
	border-color:#85ceef !important;
}
.text3{
	text-align: justify;
}
.textbox1{
	font-size: 22px;
    background: #fbfbfb;
    height: 170px;
    text-align: center;
    padding-top: 68px;
    border: 1px solid #fbfbfb;
    border-radius: 5px;
    box-shadow: 0px 1px 10px -2px;
}
.textbox1:hover{
	font-weight: bold;
}
p.select{
	font-size: 18px;
}
.select select{
	height: 40px;
}